.withdrawal-container {
  flex: 1 1 auto;
  margin: 0 auto;
}
.withdrawal-container .form-withdrawal {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 300px;
  justify-content: center;
  border: 1px solid red;
}

.withdrawal-container .withdrawal-title {
  margin-bottom: 7px;
  font-size: 1.1em;
  font-weight: bold;
}
.withdrawal-container input.input-withdrawal-pw {
  max-width: 240px;
  margin: 0 auto;
  padding: 0.55em 1em;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
}

.withdrawal-container .btn-close {
  width: 210px;
  margin: 2em auto 0 auto;
  border: none;
  padding: 0.6em 0em;
  border-radius: 3px;
  background-color: #e84b35;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/*태블릿*/
@media (min-width: 481px) and (max-width: 768px) {
  .withdrawal-container {
    font-size: 1.3em;
  }
}

/*모바일*/
@media (min-width: 320px) and (max-width: 480px) {
  .withdrawal-container {
    font-size: 1.2em;
  }
  .withdrawal-container .withdrawal-title {
    font-size: 1em;
  }
  .withdrawal-container .withdrawal-text {
    font-size: 0.75em;
  }
  .withdrawal-container input.input-withdrawal-pw {
    width: 80%;
  }
  .withdrawal-container .btn-close {
    width: 95%;
  }
}
