.mailview-container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}


.mailview-container .mailview-grid{
  display: grid;
  /* grid-template-rows: 0.7fr 0.5fr  0.5fr  5fr 0.5fr; */
  min-height: 60vh;
  width: 100%;
  max-width: 1024px;


}


.mailview-container .mailview-title{
  font-size: 1.5em;
  font-weight: 600;
}




.mailview-grid >div{
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(216, 124, 124) 1px solid;
  padding: 2% 1% 0 5%;

}

.mailview-container .modal-flex{
  display: grid;
  padding: 1% 1% 0 5%;
  grid-template-columns: 95% 5% ;
  grid-template-rows: 0.5fr 5fr;
  
}

.mailview-container .mail-text{
  overflow: auto;
  height: 35vh;
  overflow-x: hidden;
}

/* 스크롤바 설정*/
.mailview-container .mail-text::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.mailview-container .mail-text::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: gray;
  border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
.mailview-container .mail-text::-webkit-scrollbar-track{
  background-color: rgb(214, 214, 214);
}

.mailview-container .mail-text img{
  max-width: 100%;
}

.mailview-container .modal-sort:nth-child(1){
  text-align: right;
  font-size: 1.1em;
  grid-column: 1/3 ;
}



.btn_close_l{
  text-align: center;
  background-color:#E84B35;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  position:relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;

}

.mailview-container .btn_close_m{
  text-align: center;
  background-color:#E84B35;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  position:relative;
  justify-self: center;
  font-size: 1.3rem;
}

.mailview-container  .btn_close_s{
  text-align: center;
  background-color:#E84B35;
  color: white;
  width: 95px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0 10px 20px;
  border: none;
  outline: none;
  justify-self: center;
  font-size: 1em;

}


.mailViewModal-contanier{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.mailViewModal-contanier .modal-show{
  position : absolute;
  top: 45%;
  right: 18%;
  background-color: white;
  width: 133px;

}


.mailViewModal-contanier .btn-Modalclose{ 
  background-color: rgb(253, 163, 163);
  text-align: right;
  font-size: 20px;

}



@media (min-width: 481px) and (max-width: 768px) {
  .mailview-container .mailview-receive-name,
  .mailview-container .view-text{
    font-size: 14px;
  }
  .mailview-container .btn_close_m{
    width: 20%;
    height: 30px;
    font-size: 16px;

  }

}




/*모바일*/
@media (min-width: 320px) and (max-width: 480px) {
  
  .mailview-container .mailview-receive-name,
  .mailview-container .view-text{
    font-size: 14px;
  }

  .mailview-container .btn_close_m{
    width: 20%;
    height: 30px;
    font-size: 16px;

  }

}

