.mailbox-container-empty-rec{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.mailbox-container{
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-bottom: 2px solid rgb(235, 235, 235);
  border-radius: 5px;
  margin: 5px 0;
  width: 100%;
  
}

.select{
  cursor: pointer;
}
.select:hover{
  background-color: rgb(245, 245, 245);
}

.wholeMailBox-container .mailradius{
  border-radius: 25px;
}

.box-received-mail{
  min-height: 60vh;
  border-radius:  20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mailbox-container .sort-readCheck:nth-child(1) {
	grid-column: 2 / 3;
  text-align: right;
  padding: 1rem 1rem 0 0;
  height: 16px;
}

.mailbox-container .icon-mail:nth-child(2){
  grid-row: 1 / 4;
  text-align : center;
  align-self: center;
  color: #b63e2e;
}

.mailbox-container .text-mail{
  text-align : center;
  align-self: center;
}



.box-received-mail  img{
  height: 50vh;
  width: 10%;

}


@media (min-width: 481px) and (max-width: 768px) {

  .mailbox-container .sort-readCheck:nth-child(1) {
    grid-column: 2 / 3;
    text-align: right;
    padding: 1rem 1rem 0 0;
    height: 0px;
  }
}

/*모바일*/
@media (min-width: 320px) and (max-width: 480px) {
  
  
  .mailbox-container .sort-readCheck:nth-child(1) {
    grid-column: 2 / 3;
    text-align: right;
    padding: 1rem 1rem 0 0;
    height: 0px;
  }

}
