
.wholeMailBox-container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 768px; 

  margin-top:50px;
}

.wholeMailBox-container .wholeMailBox-grid{
  display: grid;
  width: 100%;
  max-width: 1024px;
  min-width: 768px; 
  min-height: 90%;
  grid-template-rows: 0.5fr 0.5fr 9fr 0.5fr;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgb(187, 187, 187);

}


.wholeMailBox-grid > div{
  background-color: rgb(255, 255, 255);
}

.wholeMailBox-container .sort-receiver{
  font-size: 1.5em;
  padding: 2% 1% 1% 5%;
  font-weight: 600;
  
}


.wholeMailBox-container .toggle-boxcheck-hide{
  display: none;
}


.tabmenu-container{
  height: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;

}

.tabmenu-container .bar-tabmenu{
  display: flex;
  justify-content: left; 
  align-items: center;
  max-width: 1024px;
  width: 100%;
  border-bottom: 1px solid rgb(189, 189, 189);
  
}

.tabmenu-container .bar-tabmenu div{
  flex: 0.1;
  /* min-width: 80px; */
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color:gray;
  margin-left: 2%;
 
}

.tabmenu-container .bar-tabmenu div.tab-selected{
  border-bottom: 3px solid #E84B35;
  font-weight: 700;
  color:black;
  position:relative;
}

.tabmenu-container .bar-tabmenu div.toggle-onoff{
  position:relative;
}


.wholeMailBox-container .toggle-boxcheck{
  position : absolute;
  color: #b63e2e;
  font-size: 15px;
  left: 85px;
  bottom: 10px;  
  z-index: 100;
}




/* .wholeMailBox-container .btn-MailboxLoad{
  text-align: center;
  background-color:#E84B35;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0 0 20px;
  border: none;
  outline: none;
  position:relative;
}


.wholeMailBox-container .btn-MailboxLoad:hover{
  background-color:rgb(74 184 161);
} */

/* 
display: block;
text-align: center;
background-color:#E84B35;
color: white;
width: 90px;
height: 35px;
border-radius: 10px;
font-weight: 700;
cursor: pointer;
margin: 10px 0;
border: none;
outline: none;

button
L: 200px 50px 10px(border-radius)
M: 90px 35px 10px(border-radius)
font-weight: 400;
background-color:#
:hover{
    background-color:rgb(74 184 161);
} */



/* 
button{
  background:#116e4f94;
  color:#fff;
  border:none;
  position:relative;
  height: 30px;
  font-size: 1.1em;
  margin: 1rem;
  padding: 0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover{
  background:#fff;
  color:#1AAB8A;
}


button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}


button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

 */
