
.wholeMailBox-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.wholeMailBox-container .wholeMailBox-grid{
  display: grid;
  width: 100%;
  max-width: 1024px;
  min-height: 90%;
  grid-template-rows: 0.5fr 0.5fr 9fr 0.5fr;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgb(187, 187, 187);  
  margin: 0 20px;

}

.wholeMailBox-container .guest-text{
  text-align: center;
  font-weight: 600;
  font-size: large;
  height: 100%;

}

.wholeMailBox-grid > div{
  background-color: rgb(255, 255, 255);
}

.wholeMailBox-container .sort-receiver{
  font-size: 1.5em;
  padding: 2% 1% 1% 5%;
  font-weight: 600;
  
}


.wholeMailBox-container .toggle-boxcheck-hide{
  display: none;
}


.tabmenu-container{
  height: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;

}

.tabmenu-container .bar-tabmenu{
  display: flex;
  justify-content: left; 
  align-items: center;
  max-width: 1024px;
  width: 100%;
  border-bottom: 1px solid rgb(189, 189, 189);
  
}

.tabmenu-container .bar-tabmenu div{
  flex: 0.1;
  min-width: 80px;
  line-height: 40px;
  text-align: center;
  color:gray;
  margin-left: 2%;
 
}

.tabmenu-container .bar-tabmenu div.tab-selected{
  border-bottom: 3px solid #E84B35;
  font-weight: 700;
  color:black;
  position:relative;
  cursor: pointer;

}

.tabmenu-container .bar-tabmenu div.toggle-onoff{
  position:relative;
  cursor: pointer;
}

.tabmenu-container .bar-tabmenu div.guest{
  position:relative;
  cursor:default;

}


.wholeMailBox-container .toggle-boxcheck{
  position : absolute;
  color: #b63e2e;
  font-size: 15px;
  left: 85px;
  bottom: 10px;  
  z-index: 100;
}






@media (min-width: 481px) and (max-width: 768px) {
  



}

/*모바일*/
@media (min-width: 320px) and (max-width: 480px) {

.wholeMailBox-container{
  height: 30%;
  width: 100%;
  margin-top: 5%;

}

  .tabmenu-container .bar-tabmenu div.tab-selected{
    font-size: 14px;
    width: 100px;
  }
  
  .tabmenu-container .bar-tabmenu div.toggle-onoff{
    font-size: 14px;
    width: 100px;
  }
  

}


.wholeMailBox-container table {
  border-collapse: collapse;

  
}
.wholeMailBox-container table, .wholeMailBox-container td {
  border: 1px solid black;
  padding: 5px;
}
