.findUserInfo-container {
  min-width: 768px;
  width: 1024px;
  max-width: 100%;
  height: 600px;
  margin: 150px auto 150px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgb(187, 187, 187);
  border-radius: 10px;
}

/* .findUserInfo-container .title {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  border-radius: 10px 10px 0 0;
} */

.findUserInfo-container .title {
  color: black;
  text-align: center;
  font-size: 2em;
  margin-top: auto;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.findUserInfo-container .findUserInfo-title{
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.findUserInfo-container .findUserInfo-logo{
  font-family: 'Gaegu', cursive;
  margin-left: 5px;
  font-weight: 550;
}

.findUserInfo-container .findPassword-section {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  height: auto;
}
.findUserInfo-container .main-section {
  margin-top: 20%;
  width: 100%;
}

.findUserInfo-container .findPassword-title {
  font-size: 1.25em;
  border-bottom: solid #f06e5c 2px;
  padding-left: 20px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.findUserInfo-container .bottom-section {
  height: 130px;
  border-top: solid rgb(192, 192, 192) 2px;
  background-color: #f06e5c;
  border-radius: 0 0 10px 10px;
}

.findUserInfo-container .confirm-email {
  width: 150px;
  height: 40px;
}
