.home-container {
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-container .box-main {
  cursor: url('../img/paper_plane_icon.svg'), auto;
  padding-top: 60px;
  height: 580px;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  animation: fadein 3s;
  background-color: #fbf2ee;
  width: 100%;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
  border: 1px solid #fbf2ee;
  box-shadow: 5px 10px 20px rgb(187, 187, 187);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-container div.home-img {
  height: 330px;
  pointer-events: none;
  margin: 0 auto;
  text-align: center;
}

.home-container img.home-img-1 {
  margin: 20px 0;
  height: 300px;
  pointer-events: none;
  animation: animatedbang 3s infinite;
}

/* .home-container img.home-img-2 {
  position: absolute;
  left: 36%;
  margin: 20px 0;
  height: 300px;
  transform: translate(0%, -50%);
  pointer-events: none;
  animation: animatedbang 3s infinite;
} */

@keyframes animatedbang {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(10px);
  }
}

/* .home-container #img-mail{
    text-align: center;
    width: 100%;
    font-size: 75pt;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
} */

.home-container .box-main .title {
  text-align: center;
  font-size: 1.8em;
  font-weight: 800;
  color: #e84b35;
}

.home-container .box-counting {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.home-container .num-counting-up {
  color: rgb(58, 58, 58);
  flex: 1;
  width: 100px;
  font-weight: 900;
}

div.animated-container {
  width: 100%;
  justify-content: flex-end;
  padding-right: 50px;
}

.home-container .words-counting-up {
  color: rgb(75, 75, 75);
  font-size: 1.5em;
  font-weight: 700;
  flex: 1.5;
  margin-left: 20px;
}

.home-container .btn-write {
  display: block;
  margin: 40px auto;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  font-weight: 600;
  background-color: #e84b35;
  width: 200px;
  height: 50px;
  vertical-align: middle;
  border: none;
  outline: none;
  border-radius: 30px;
}

.home-container .btn-write:hover {
  text-decoration: underline;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-container .scroll-down {
  text-align: center;
  cursor: pointer;
  -webkit-animation: blink 1.2s ease-in-out infinite alternate;
  -moz-animation: blink 1.2s ease-in-out infinite alternate;
  animation: blink 1.2s ease-in-out infinite alternate;
}

.home-container .home-explanation {
  max-width: 1024px;
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 30%;
  overflow-y: hidden;
  
}

.home-container .box-script-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50%;
}

.home-container .img-script-1 img {
  width: 85%;
}

.home-container .explanation-script-1 {
  width: 500px;
  text-align: center;
  font-size: 1.7em;
  font-weight: 800;
}

.home-container .explanation-script-1 .sub-text {
  font-size: 1rem;
  font-weight: 180;
}

.home-container .box-script-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container .img-script-2 img {
  width: 80%;
}

.home-container .explanation-script-2 {
  text-align: center;
  width: 500px;
  font-size: 1.7em;
  font-weight: 800;
}

.home-container .explanation-script-2 .sub-text {
  font-size: 1rem;
  font-weight: 180;
}


/*태블릿*/
@media (min-width: 481px) and (max-width: 768px) {
  .home-container {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .home-container .box-main {
    cursor: url('../img/paper_plane_icon.svg'), auto;
    padding-top: 60px;
    height: 580px;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    animation: fadein 3s;
    background-color: #fbf2ee;
    width: 100%;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
    border: 1px solid #fbf2ee;
    box-shadow: 5px 10px 20px rgb(187, 187, 187);
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .home-container div.home-img {
    height: 330px;
    pointer-events: none;
    margin: 0 auto;
    text-align: center;
  }

  .home-container img.home-img-1 {
    margin: 20px 0;
    height: 300px;
    pointer-events: none;
    animation: animatedbang 3s infinite;
  }

  /* .home-container img.home-img-2 {
    position: absolute;
    left: 36%;
    margin: 20px 0;
    height: 300px;
    transform: translate(0%, -50%);
    pointer-events: none;
    animation: animatedbang 3s infinite;
  } */

  @keyframes animatedbang {
    0% {
      transform: translateY(10px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(10px);
    }
  }

  /* .home-container #img-mail{
      text-align: center;
      width: 100%;
      font-size: 75pt;
      color: rgb(0, 0, 0);
      margin-bottom: 20px;
  } */

  .home-container .box-main .title {
    text-align: center;
    font-size: 1.8em;
    font-weight: 800;
    color: #e84b35;
  }

  .home-container .box-counting {
    display: flex;
    align-items: center;
    width: 600px;
    margin: 0 auto;
  }

  .home-container .num-counting-up {
    color: rgb(58, 58, 58);
    flex: 1;
    width: 100px;
    font-weight: 900;
  }

  div.animated-container {
    width: 100%;
    justify-content: flex-end;
    padding-right: 50px;
  }

  .home-container .words-counting-up {
    color: rgb(75, 75, 75);
    font-size: 1.5em;
    font-weight: 700;
    flex: 1.5;
    margin-left: 20px;
  }

  .home-container .btn-write {
    display: block;
    margin: 40px auto;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 600;
    background-color: #e84b35;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    border: none;
    outline: none;
    border-radius: 30px;
  }

  .home-container .btn-write:hover {
    text-decoration: underline;
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .home-container .scroll-down {
    text-align: center;
    cursor: pointer;
    -webkit-animation: blink 1.2s ease-in-out infinite alternate;
    -moz-animation: blink 1.2s ease-in-out infinite alternate;
    animation: blink 1.2s ease-in-out infinite alternate;
  }

  .home-container .home-explanation {
    max-width: 730px;
    width: 100%;
    min-width: 480px;
    margin: 0 auto;
    padding-top: 30%;
    padding-bottom: 30%;
    overflow-y: hidden;
  }

  .home-container .box-script-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50%;
    text-align: center;
  }

  .home-container .img-script-1 img {
    width: 55%;
    margin-bottom: 10%;
    margin-left: 4%;
  }

  .home-container .explanation-script-1 {
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    font-weight: 800;
  }

  .home-container .explanation-script-1 .sub-text {
    font-size: 1rem;
    font-weight: 180;
  }

  .home-container .box-script-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 300px;
  }

  .home-container .img-script-2 img {
    width: 50%;
    margin-bottom: 10%;
  }

  .home-container .explanation-script-2 {
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    font-weight: 800;
  }

  .home-container .explanation-script-2 .sub-text {
    font-size: 1rem;
    font-weight: 180;
  }
}



/*모바일*/

@media (min-width: 320px) and (max-width: 480px) {
  .home-container {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .home-container .box-main {
    cursor: url('../img/paper_plane_icon.svg'), auto;
    padding-top: 60px;
    height: 580px;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    animation: fadein 3s;
    background-color: #fbf2ee;
    width: 100%;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
    border: 1px solid #fbf2ee;
    box-shadow: 5px 10px 20px rgb(187, 187, 187);
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    /* Firefox */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadein {
    /* Opera */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .home-container div.home-img {
    height: 330px;
    pointer-events: none;
    margin: 0 auto;
    text-align: center;
  }

  .home-container img.home-img-1 {
    margin: 20px 0;
    height: 300px;
    pointer-events: none;
    animation: animatedbang 3s infinite;
  }

  /* .home-container img.home-img-2 {
    position: absolute;
    left: 36%;
    margin: 20px 0;
    height: 300px;
    transform: translate(0%, -50%);
    pointer-events: none;
    animation: animatedbang 3s infinite;
  } */

  @keyframes animatedbang {
    0% {
      transform: translateY(10px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(10px);
    }
  }

  /* .home-container #img-mail{
      text-align: center;
      width: 100%;
      font-size: 75pt;
      color: rgb(0, 0, 0);
      margin-bottom: 20px;
  } */

  .home-container .box-main .title {
    text-align: center;
    font-size: 1.8em;
    font-weight: 800;
    color: #e84b35;
  }

  .home-container .box-counting {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    font-size: 0.9em;
  }

  .home-container .num-counting-up {
    color: rgb(58, 58, 58);
    flex: 0.7;
    width: 100%;
    font-weight: 900;
  }

  div.animated-container {
    width: 100%;
    justify-content: flex-end;
    padding-right: 50px;
  }

  .home-container .words-counting-up {
    color: rgb(75, 75, 75);
    font-size: 1.5em;
    font-weight: 700;
    flex: 1.5;
    margin-left: 20px;
  }

  .home-container .btn-write {
    display: block;
    margin: 40px auto;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 600;
    background-color: #e84b35;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    border: none;
    outline: none;
    border-radius: 30px;
  }

  .home-container .btn-write:hover {
    text-decoration: underline;
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .home-container .scroll-down {
    text-align: center;
    cursor: pointer;
    -webkit-animation: blink 1.2s ease-in-out infinite alternate;
    -moz-animation: blink 1.2s ease-in-out infinite alternate;
    animation: blink 1.2s ease-in-out infinite alternate;
  }

  .home-container .home-explanation {
    max-width: 450px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-top: 30%;
    padding-bottom: 30%;
    overflow-y: hidden;
  }

  .home-container .box-script-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50%;
    text-align: center;
  }

  .home-container .img-script-1 img {
    width: 55%;
    margin-bottom: 10%;
    margin-left: 4%;
  }

  .home-container .explanation-script-1 {
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    font-weight: 800;
  }

  .home-container .explanation-script-1 .sub-text {
    font-size: 0.9rem;
    font-weight: 180;
  }

  .home-container .box-script-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 200px;
  }

  .home-container .img-script-2 img {
    width: 50%;
  }

  .home-container .explanation-script-2 {
    text-align: center;
    width: 100%;
    font-size: 1.4em;
    font-weight: 800;
    margin-bottom: 10%;
  }

  .home-container .explanation-script-2 .sub-text {
    font-size: 0.9rem;
    font-weight: 180;
  }
}
