.login-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  border: 2px solid #e84b35;
  margin: 160px auto 150px auto;
  padding: 20px;
  border-radius: 10px;
}
.login-container #title {
  color: black;
  text-align: center;
  font-size: 2em;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .login-title {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.login-container .login-logo {
  font-family: 'Gaegu', cursive;
  margin-left: 5px;
  font-weight: 550;
}

.login-container .login-input {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: auto;
}

.login-container .input-email {
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgb(192, 192, 192);
  font-size: 1em;
}
.login-container .input-password {
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgb(192, 192, 192);
  font-size: 1em;
}
.login-container #find-password:hover {
  text-decoration: underline black;
}

.login-container #find-password {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
}

.login-container .login-buttons {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: auto;
  margin-bottom: 20px;
}

.login-container .login-buttons > button {
  width: 300px;
  height: 46px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  font-size: 1em;
  font-weight: 500;
}
.login-container .login-button {
  background-color: #e84b35;
  color: white;
}

.login-container .signup-button {
  background-color: #f06e5c;
  color: white;
}

.login-container .oauth-button {
  background-color: #fee500;
}

.login-container button:hover {
  text-decoration: underline;
}
.login-container .section-confirm {
  text-align: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 0.9em;
  color: red;
}
.login-container .section-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
