.navBar-container {
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: white;
  z-index: 9999;
}

.navBar-container .bar {
  display: flex;
  height: 60px;
  align-items: center;
  max-width: 1040px;
  margin: 0 auto;
}

.navBar-container .bar div {
  font-size: 12pt;
  text-align: left;
  cursor: pointer;
  color: rgb(90, 90, 90);
}

.navBar-container .bar div:hover {
  font-weight: 500;
}

.navBar-container .bar .home {
  flex: 2.2;
  color: #e84b35;
  font-weight: 800;
  font-size: 1.4rem;
  font-family: 'Gaegu', cursive;
}

.navBar-container .bar .mailBox {
  flex: 1;
}

.navBar-container .bar .sent {
  flex: 1;
}

.navBar-container .bar .write {
  flex: 1.3;
}

.navBar-container .bar .login {
  flex: 0.5;
}

.navBar-container .bar .login span {
  display: block;
  text-align: center;
  vertical-align: middle;
  background-color: #e84b35;
  padding-top: 3px;
  color: white;
  width: 90px;
  height: 30px;
  border-radius: 10px;
  font-weight: 700;
}

.navBar-container .bar .signup {
  flex: 0.4;
  text-align: right;
  margin-left: 10px;
}

.navBar-container .bar .mypage {
  flex: 0.5;
  text-align: left;
  margin-right: 10px;
}

.navBar-container .bar .admin {
  flex: 0.2;
  text-align: right;
}

.navBar-container .bar .hidden {
  visibility: hidden;
}
