.login-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  border: solid black;
  margin: 160px auto 150px auto;
  padding: 20px;
}
.login-container #title {
  color: black;
  text-align: center;
  /* border: solid black; */
  font-size: 30px;
  margin-top: auto;
}
.login-container .login-input {
  display: flex;
  flex-direction: column;
  /* border: solid blue; */
  width: 300px;
  margin-top: auto;
}

.login-container .input-email {
  height: 40px;
  margin-top: 10px;
}
.login-container .input-password {
  height: 40px;
  margin-top: 10px;
}

.login-container #find-password {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 13px;
}

.login-container .login-buttons {
  display: flex;
  flex-direction: column;
  /* border: solid green; */
  width: 300px;
  margin-top: auto;
  margin-bottom: 20px;
}

.login-container .login-buttons > button {
  width: 300px;
  height: 45px;
  margin-top: 5px;
  cursor: pointer;
}

.login-container .login-button {
}
.login-container .signup-button {
}
.login-container .oauth-button {
}
