.mailform-container {
  max-width: 1024px;
  min-width: 768px;
  padding-bottom: 20px;
  margin: 70px auto;
  border-radius: 20px;
  box-shadow: 5px 10px 20px rgb(187, 187, 187);
  font-size: 1.1em;
}
/*태블릿*/
@media (min-width: 481px) and (max-width: 768px) {
  .mailform-container {
    padding-bottom: 20px;
    margin: 0 auto;
  }
}

/*모바일*/
@media (min-width: 320px) and (max-width: 480px) {
  .mailform-container {
    padding-bottom: 20px;
    margin: 0 auto;
  }
}
