.mypage-container {
  max-width: 1024px;
  min-width: 768px;
  width: 60%;
  margin: 0 auto;
  margin-top: 70px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  box-shadow: 5px 10px 20px rgb(187, 187, 187);
}
.mypage-container .tab-wrapper {
  display: flex;
  flex-direction: column;
}
.mypage-container .styledTabContent-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
}
.mypage-container .guestNotice {
  text-align: center;
  margin-top: 220px;
  font-weight: bold;
  color: gray;
}

.mypage-container span.tab-divider {
  font-size: 1.5rem;
  color: rgb(235, 235, 235);
}

.mypage-container span.tab-text {
  cursor: pointer;
}

.mypage-container .tab-text,
.mypage-container .tab-divider {
  margin-right: 15px;
  font-size: 0.95em;
}
.mypage-container img.emptyImg {
  width: 100%;
  opacity: 0.4;
}
.mypage-container p.no-logs {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2em;
  text-align: center;
  color: gray;
}
.mypage-container .active-tabs {
  font-weight: bold;
  color: #e84b35;
}
.mypage-container .active-content {
  display: block;
  flex: 1 1 auto;
}
.mypage-container .inactive-content {
  display: none;
}

/*비밀번호 변경*/
.mypage-container .form-renewPw {
  width: 50%;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.mypage-container .p-renew-title {
  margin-bottom: 7px;
  font-size: 1.1em;
  font-weight: bold;
}
.mypage-container .p-renew-pw {
  flex: 0.05 1 auto;
  font-size: 1.1em;
}
.mypage-container .input-renew-pw {
  max-width: 240px;
  margin: 0 auto;
  padding: 0.55em 1em;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
}
.mypage-container span.span-alert {
  margin-left: 1em;
  font-size: 0.75em;
}
.mypage-container span.unavailable {
  color: tomato;
}
.mypage-container span.available {
  color: green;
}
.mypage-container button.btn-submit {
  width: 210px;
  margin: 2em auto 0 auto;
  border: none;
  padding: 0.55em 1em;
  border-radius: 3px;
  background-color: #e84b35;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.mypage-container button.btn-withdrawal {
  width: 210px;
  margin: 0 auto;
  border: none;
  padding: 0.55em 1em;
  border-radius: 3px;
  background-color: whitesmoke;
  color: gray;
  cursor: pointer;
}
.mypage-container button.btn-withdrawal:active {
  background-color: lightgray;
  color: white;
  border-top: 1px solid whitesmoke;
}

/*받은 편지, 보낸편지 ul*/
.mypage-container .ul-mailbox {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  /* border: 1px solid rgb(235, 235, 235); */
  border-radius: 20px;
}
.mypage-container .li-mail {
  width: 100%;
  padding: 0.55em 0;
  display: flex;
  vertical-align: middle;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.mypage-container .li-icon {
  flex: 0.2;
  height: 40px;
  padding-top: 4px;
}
.mypage-container .li-title {
  display: inline-block;
  flex: 1;
  padding-top: 12px;
  /* border: 1px solid red; */
  text-align: center;
}
.mypage-container .li-date {
  flex: 0.3;
  padding-top: 14px;
  padding-right: 10px;
  text-align: center;
  font-size: 0.8em;
}

/*태블릿*/
@media (min-width: 481px) and (max-width: 768px) {
  .mypage-container {
    min-width: 100%;
    margin: 0 auto;
    border: 1px solid red;
    font-size: 0.8em;
  }
  .mypage-container .li-icon {
    flex: 0.18;
    height: 40px;
    padding-top: 4px;
  }
  .mypage-container .form-renewPw {
    font-size: 1.3em;
  }
  .mypage-container span.span-alert {
    margin-left: 1em;
    font-size: 0.8em;
  }
  .mypage-container button {
    font-size: 0.8em;
  }
}

/*모바일*/
@media (min-width: 320px) and (max-width: 480px) {
  .mypage-container {
    min-width: 100%;
    margin: 0 auto;
  }
  .mypage-container .li-title {
    font-size: 0.85em;
  }
  .mypage-container .li-date {
    font-size: 0.75em;
  }
  .mypage-container .li-icon {
    flex: 0.13;
    height: 40px;
    padding-top: 4px;
    padding-left: 10px;
  }
  .mypage-container button {
    font-size: 0.55em;
  }
}
