.signUp-container {
  min-width: 70%;
  max-width: 70%;
  height: 100%;
  margin: 150px auto 150px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px 20px rgb(187, 187, 187);
  border-radius: 10px;
}

/* .signUp-container .title {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  border-radius: 10px 10px 0 0;
} */

.signUp-container .title {
  color: black;
  text-align: center;
  font-size: 2.2em;
  margin: 20px auto;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.signUp-container .login-title{
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.signUp-container .login-logo{
  font-family: 'Gaegu', cursive;
  margin-left: 5px;
  font-weight: 550;
}

.signUp-container .signUp-section {
  font-size: 1.25em;
  border-top: solid #f06e5c 2px;
  padding-left: 20px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.signUp-container .bottom-section {
  height: 130px;
  border-top: solid rgb(192, 192, 192) 2px;
  background-color: #f06e5c;
  border-radius: 0 0 10px 10px;
}

.signUp-container .section-email {
  margin-top: 70px;
  margin-right: auto;
  font-size: 1em;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.signUp-container .title-email {
  width: 110px;
}
.signUp-container .input-email {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 120px;
}
.signUp-container .input-domain {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 120px;
}
.signUp-container .section-auth {
  font-size: 1em;
  margin-right: auto;
  margin-top: 20px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.signUp-container .title-auth {
  /* margin-right: 15px; */
  width: 110px;
}
.signUp-container .input-authcode {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 270px;
}

.signUp-container .send-authcode-button {
  display: block;
  text-align: center;
  background-color: #e84b35;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0;
  border: none;
  outline: none;
}

.signUp-container .section-name {
  margin-top: 20px;
  margin-right: auto;
  font-size: 1em;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUp-container .title-name {
  width: 110px;
  margin-right: 8px;
}

.signUp-container .input {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 275px;
}

.signUp-container .check-auth {
  display: block;
  text-align: center;
  background-color: #e84b35;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0;
  border: none;
  outline: none;
}

.signUp-container .submit-button {
  display: block;
  margin: 40px auto;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 13pt;
  font-weight: 600;
  background-color: #e84b35;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.signUp-container .submit-button:hover {
  text-decoration: underline;
}

.signUp-container .section-password {
  margin-top: 20px;
  margin-right: auto;
  font-size: 1em;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUp-container .title-password {
  width: 110px;
  margin-right: 8px;
}

.signUp-container .input-password {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 275px;
}

.signUp-container .section-password {
  margin-top: 20px;
  margin-right: auto;
  font-size: 1em;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUp-container .title-password {
  width: 110px;
  margin-right: 8px;
}

.signUp-container .input-password {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 275px;
}
