.signUp-container {
  min-width: 550px;
  max-width: 70%;
  height: 100%;
  margin: 150px auto 150px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #f06e5c;
  border-radius: 10px;
}

.signUp-container .title {
  color: black;
  text-align: center;
  font-size: 2.2em;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp-container .login-title {
  height: 50px;
  width: 20%;
  margin-right: 5px;
}

.signUp-container .login-logo {
  font-family: 'Gaegu', cursive;
  margin-left: 5px;
  font-weight: 550;
}

.signUp-container .signUp-section {
  font-size: 1.25em;
  border-top: solid #f06e5c 2px;
  padding-left: 20px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.signUp-container .bottom-section {
  height: 130px;
  border-top: solid rgb(192, 192, 192) 2px;
  background-color: #f06e5c;
  border-radius: 0 0 10px 10px;
}

.signUp-container .section-email {
  margin-top: 70px;
  margin-right: auto;
  font-size: 1em;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.signUp-container .title-email {
  width: 20%;
}
.signUp-container .input-email {
  /* height: 30%; */
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 38%;
}
.signUp-container .input-domain {
  height: 5%;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 38%;
}
.signUp-container .section-auth {
  font-size: 1em;
  margin-right: auto;
  margin-top: 20px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.signUp-container .title-auth {
  /* margin-right: 15px; */
  width: 20%;
}
.signUp-container .input-authcode {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 54%;
}

.signUp-container .send-authcode-button {
  display: block;
  text-align: center;
  background-color: #e84b35;
  color: white;
  width: 18%;
  height: 35px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0;
  border: none;
  outline: none;
}

.signUp-container .section-name {
  margin-top: 20px;
  margin-right: auto;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUp-container .title-name {
  width: 21%;
  margin-right: 8px;
}

.signUp-container .input {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 54%;
}

.signUp-container .check-auth {
  display: block;
  text-align: center;
  background-color: #e84b35;
  color: white;
  width: 18%;
  height: 35px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0;
  border: none;
  outline: none;
}

.signUp-container .submit-button {
  display: block;
  margin: 40px auto;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 13pt;
  font-weight: 600;
  background-color: #e84b35;
  width: 35%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.signUp-container .submit-button:hover {
  text-decoration: underline;
}

.signUp-container .section-password {
  margin-top: 20px;
  margin-right: auto;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUp-container .title-password {
  width: 20%;
  margin-right: 10px;
}

.signUp-container .input-password {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 100%;
}

.signUp-container .section-password {
  margin-top: 30px;
  margin-right: auto;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUp-container .title-password {
  width: 21%;
  margin-right: 8px;
}

.signUp-container .input-password {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 100%;
}

.signUp-container .section-possible {
  font-size: 0.7em;
  height: 10px;
  margin-top: -10px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.signUp-container .section-confirm {
  font-size: 0.7em;
  height: 10px;
  margin-top: -10px;
  margin-bottom: 100px;
}

.signUp-container .possible-pw {
  margin-left: -100px;
}

.signUp-container .section-confirm-email {
  font-size: 0.7em;
  height: 10px;
  margin-top: -10px;
  margin-bottom: 30px;
}

.signUp-container .scetion-check-authcode {
  font-size: 0.7em;
  height: 10px;
  margin-top: -10px;
  margin-bottom: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .signUp-container {
    min-width: 400px;
    max-width: 70%;
    height: 100%;
    margin: 150px auto 150px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #f06e5c;
    border-radius: 10px;
  }
  .signUp-container .title-password,
  .title-email,
  .title-name,
  .title-auth {
    font-size: 0.7em;
  }
  .signUp-container .send-authcode-button {
    width: 83px;
    font-size: 0.5em;
  }
  .signUp-container .check-auth {
    font-size: 0.3em;
    width: 55px;
  }
  .signUp-container .input-container {
    font-size: 0.7em;
  }
  .signUp-container .input-email {
    margin-left: 20px;
  }
  .signUp-container .input-domain {
    width: 80px;
  }
}
