.signUp-container {
  border: solid 1px black;
  min-width: 800px;
  max-width: 800px;

  height: 700px;
  margin: 100px auto 100px auto;
  display: flex;
  flex-direction: column;
}
.signUp-container #title {
  font-size: 30px;
  text-align: center;

  border-bottom: solid 1px black;
  padding-top: 20px;
  padding-bottom: 20px;
}
.signUp-container #input-containers {
  display: flex;
  flex-direction: row;

  border-right: solid 1px black;
  border-left: solid 1px black;
  margin: auto;
}

.signUp-container .input-container {
  padding: 20px;
  height: 580px;
}

.signUp-container .section-email {
  margin-top: 20px;

  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.signUp-container .input-email {
  width: 100px;
  height: 40px;
  margin-right: 5px;
  font-size: 20px;
}
.signUp-container .input-domain {
  width: 100px;
  height: 40px;
  margin-left: 5px;
  font-size: 20px;
}

.signUp-container .section-name {
  margin-top: 20px;

  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signUp-container .section-password {
  margin-top: 20px;

  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signUp-container .section-password-check {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUp-container .section-complete-button {
  display: flex;
  justify-content: center;
  height: 40px;
}
.signUp-container .section-complete-button button {
  width: 120px;
}

.signUp-container .title-input {
  min-width: 100px;
  text-align: center;
  margin-right: 20px;
}

.signUp-container .send-authcode-button {
  margin-left: 20px;
  margin-right: 10px;
  height: 45px;
}

.signUp-container .input-name {
  width: 340px;
  height: 40px;
  font-size: 20px;
}
.signUp-container .input-password {
  width: 340px;
  height: 40px;
  font-size: 20px;
}

.signUp-container .title {
  width: 100px;
  text-align: center;
}

.signUp-container .section-auth {
  text-align: right;
  margin-bottom: 30px;
}

.signUp-container .input-authcode {
  height: 40px;
  width: 100px;
}
.signUp-container .check-auth {
  margin-left: 20px;
  margin-right: 10px;
  height: 45px;
}
