.completeSignUp-container {
  min-width: 70%;
  max-width: 70%;
  height: 100%;
  margin: 150px auto 150px auto;
  display: flex;
  flex-direction: column;
  /* box-shadow: 5px rgb(187, 187, 187); */
  border-radius: 10px;
  border: 1px solid #f06e5c;
}

.completeSignUp-container .title {
  color: black;
  text-align: center;
  font-size: 2em;
  margin-top: auto;
  margin-bottom: 20px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.completeSignUp-container .completeSignUp-title {
  width: 300px;
}
.completeSignUp-container .completeSignUp-message {
  font-size: 1.25em;
  padding-left: 20px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.signUp-container .signUp-section {
  font-size: 1.25em;
  border-top: solid #f06e5c 2px;
  padding-left: 20px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.completeSignUp-container .explain-section {
  text-align: center;
  height: 300%;
  line-height: 300%;
  width: 80%;
  vertical-align: middle;
  /* padding-top:  */
  font-size: 1.5em;
  border-top: solid #f06e5c 2px;
  border-bottom: solid #f06e5c 2px;
  vertical-align: middle;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 550;

  color: black;
  font-family: 'Gaegu', cursive;
}
.completeSignUp-container br {
}

.completeSignUp-container .login-button {
  display: block;
  margin: 40px auto;
  text-align: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 13pt;
  font-weight: 600;
  background-color: #e84b35;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.completeSignUp-container .bottom-section {
  height: 130px;
  border-top: solid rgb(192, 192, 192) 2px;
  background-color: #f06e5c;
  border-radius: 0 0 10px 10px;
}
.completeSignUp-container .login-button:hover {
  text-decoration: underline;
}

.completeSignUp-container .login-title {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}

.completeSignUp-container .login-logo {
  font-family: 'Gaegu', cursive;
  margin-left: 5px;
  font-weight: 550;
  color: black;
}
