.changePassword-container {
  margin-top: 100px;
  font-size: 20px;
}

.changePassword-container .section-password {
  margin-bottom: 20px;
  margin-left: 150px;
}
.changePassword-container .title-newpassword {
  margin-right: 20px;
}

.changePassword-container .input-password {
  height: 30px;
  margin-left: 40px;
}
.changePassword-container .section-password-check {
  margin-bottom: 20px;
  margin-left: 150px;
}

.changePassword-container .title-newpassword-check {
  margin-right: 30px;
}
.changePassword-container .section-submit-button {
  text-align: center;
  margin-top: 40px;
}

.changePassword-container .change-password-button {
  width: 100px;
  height: 30px;
}
