.changePassword-container {
  font-size: 20px;
}

.changePassword-container .section-password {
  margin-top: 20px;
  font-size: 1em;
}
.changePassword-container .title-newpassword {
  height: 30px;
  margin-left: 55px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 150px;
}

.changePassword-container .input-password {
  height: 30px;
  margin-left: 40px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 150px;
}
.changePassword-container .section-password-check {
  margin-left: 0px;
  margin-top: 20px;
  /* margin-bottom: 20x; */
  font-size: 1em;
}

.changePassword-container .title-newpassword-check {
  height: 30px;
  margin-left: 43px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 150px;
}
.changePassword-container .section-submit-button {
  text-align: center;
  margin-top: 40px;
}

.changePassword-container .change-password-button {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;

  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 13pt;
  font-weight: 600;
  background-color: #e84b35;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.changePassword-container .change-password-button:hover {
  text-decoration: underline;
}

.changePassword-container .section-possible {
  font-size: 0.7em;
  height: 10px;
  margin-top: 10px;
  margin-left: 100px;
  /* margin-bottom: 30px; */
  /* text-align: center; */
}

.changePassword-container .section-confirm {
  font-size: 0.7em;
  height: 10px;
  margin-left: 40px;
  margin-top: 10px;
  /* margin-bottom: 30px; */
  text-align: center;
}
