.confirmEmail-container {
  height: 100px;
  text-align: center;
  width: 100%;
}
.confirmEmail-container .section-email {
  /* margin-top:  */
  font-size: 1em;
  /* margin-bottom: auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
.confirmEmail-container .title-email {
  margin-right: 5px;
}
.confirmEmail-container .input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  align-items: center;
}
.confirmEmail-container .input-email {
  height: 30px;

  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 45%;
}
.confirmEmail-container .input-domain {
  height: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 45%;
}

.confirmEmail-container .section-auth {
  width: 100%;
  font-size: 1em;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.confirmEmail-container .input-authcode {
  height: 30px;
  padding: 5px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  width: 55%;
}

.confirmEmail-container .send-authcode-button {
  display: block;
  text-align: center;
  background-color: #e84b35;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0;
  border: none;
  outline: none;
}

.confirmEmail-container .check-auth {
  display: block;
  text-align: center;
  background-color: #e84b35;
  color: white;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px 0;
  border: none;
  outline: none;
}

.confirmEmail-container .title-email {
  margin-left: 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .confirmEmail-container {
    height: 100px;
    text-align: center;
    width: 350px;
  }
  /* .confirmEmail-container .section-auth {
   ;
  } */
}
