/* .mailbox-container{
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr 1fr;

}

.mailbox-container .sort-readCheck:nth-child(1) {
	grid-column: 2 / 3;
  text-align: right;
  padding: 1rem 1rem 0 0;
}

.mailbox-container .icon-mail:nth-child(2){
  grid-row: 1 / 4;
  text-align : right;
  align-self: center;
  color: #b63e2e;
  
}


.mailbox-container-empty{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  

}
 */
