/* 
.wholeMailBox-container{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.wholeMailBox-container .wholeMailBox-grid{
  display: grid;
  width: 80%;
	grid-template-rows: 1fr 1fr 8fr 1fr;
  min-height: 90vh;
  border: rgb(216, 124, 124) 1px solid;
}


.wholeMailBox-grid > div{
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(216, 124, 124) 1px solid;
}

.wholeMailBox-container .sort-receiver{
  align-self: center;
  font-size: 1.8em;
  padding: 2% 1% 1% 5%;
}

.wholeMailBox-container .btn-receiveMail{

}

.wholeMailBox-container .btn-reservedMail{

}

.wholeMailBox-container .toggle-boxcheck{
  position : absolute;
  color: green;
  font-size: 40px;
  left: 135px;
  bottom: 10px;  
} */