.mailinfo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mailinfo-container label {
  padding: 0.5em 1.5em;
  border-bottom: 1px solid rgb(235, 235, 235);
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.mailinfo-container .checkbox-tome {
  border: none;
  font-size: 0.85em;
  color: #a6a6a6;
}

.mailinfo-container .mailinfo-input {
  flex: 1 1 auto;
  padding: 0.55em 1em;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
}
.mailinfo-container .mailinfo-input-title {
  margin-left: 3rem;
}

.mailinfo-container .lastLabelDiv {
  width: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 1.31em;
  justify-content: space-between;
}
.mailinfo-container .select-date {
  font-size: 0.8em;
  background-color: white;
  padding: 0.2em 0.2em;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
}

.mailinfo-container .d-day {
  margin-left: 0.8rem;
}

.mailinfo-container .react-datepicker-popper {
  z-index: 9999;
}

/*태블릿*/
@media (min-width: 481px) and (max-width: 768px) {
  .mailinfo-container label {
    font-size: 0.95em;
  }

  .mailinfo-container .lastLabelDiv {
    margin-left: 15px;
    width: 52%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mailinfo-container .mailinfo-input-title {
    margin-left: 2.8em;
    height: 0.9em;
  }
  .mailinfo-container .select-date {
    margin-left: 0;
    height: 3em;
  }

  .mailinfo-container .d-day {
    position: absolute;
    right: 0%;
    bottom: 10%;
    font-size: 1.2em;
  }
}

/*모바일*/
@media (min-width: 320px) and (max-width: 480px) {
  .mailinfo-container {
    padding-bottom: 0;
    margin: 0 auto;
  }
  .mailinfo-container .checkbox-tome {
    font-size: 0.6em;
  }
  .mailinfo-container .lastLabelDiv {
    margin-left: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mailinfo-container .mailinfo-input-title {
    /* border: 1px solid red; */
    margin-left: 2.8em;
    height: 0.9em;
  }
  .mailinfo-container .select-date {
    margin-left: 0;
    height: 3em;
  }

  .mailinfo-container .d-day {
    position: absolute;
    right: 3%;
    bottom: 10%;
    font-size: 1.15em;
  }
}
