.previewModal-container {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.previewModal-container .modal-box {
  padding: 3em 2em;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.previewModal-container span {
  flex: 1 1 auto;
  text-align: center;
}
.previewModal-container .btn-close {
  height: 35px;
  width: 100px;
  margin-top: 30px;
  background-color: #e84b35;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
