.previewModal-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.previewModal-container table,
.previewModal-container tbody,
.previewModal-container thead,
.previewModal-container tr,
.previewModal-container th,
.previewModal-container td {
  border: 1px solid gray;
  border-collapse: collapse;
}

.previewModal-container .modal-box {
  min-width: 550px;
  max-width: 900px;
  min-height: min-content;
  max-height: 80vh;
  padding: 2em;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.previewModal-container ul.preview-group {
  width: 100%;
  max-height: 600px;
  border-radius: 20px;
  box-shadow: 5px 10px 20px rgb(187, 187, 187);
  list-style: none;
  padding: 0.3em 0.2em;
}

.previewModal-container ul.preview-group img {
  max-width: 100%;
  max-height: 300px;
}
.previewModal-container ul.preview-group li {
  padding: 0.25em 0.75em;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.previewModal-container ul.preview-group span.li-text {
  min-width: 80px;
  display: inline-block;
  text-align: justify;
  color: rgb(82, 81, 81);
}
.previewModal-container ul.preview-group .li-props {
  color: rgb(82, 81, 81);
}
.previewModal-container ul.preview-group li:last-child {
  border: none;
}
.previewModal-container ul.preview-group .li-content {
  max-width: 100%;
  max-height: 500px;
  overflow: scroll;
}

.previewModal-container .btn-close {
  height: 35px;
  width: 100px;
  margin-top: 30px;
  background-color: #e84b35;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
